In [37]:
import pandas as pd

In [38]:
pd.__version__

'2.3.0'

In [39]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows = 100)

In [45]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [46]:
from sqlalchemy import create_engine

In [42]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [43]:
engine.connect()

In [47]:
print(pd.io.sql.get_schema(df, name ='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [49]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [50]:
df = next(df_iter)

In [51]:
len(df)

100000

In [52]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [55]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [56]:
from time import time

In [58]:
while True:
    t_start = time()
    df =next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 13.197 second
inserted another chunk..., took 12.590 second
inserted another chunk..., took 12.709 second
inserted another chunk..., took 12.753 second
inserted another chunk..., took 13.845 second
inserted another chunk..., took 13.805 second
inserted another chunk..., took 12.660 second
inserted another chunk..., took 12.718 second
inserted another chunk..., took 13.170 second
inserted another chunk..., took 12.810 second
inserted another chunk..., took 12.701 second

C:\Users\me123\AppData\Local\Temp\ipykernel_12948\1746053952.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df =next(df_iter)

inserted another chunk..., took 13.109 second
inserted another chunk..., took 8.311 second

StopIteration: